<app-searchbox (searchTextChange)="onSearchEnter($event)"></app-searchbox>
<ng-container *ngIf="isLoggedIn">
  <ng-container *ngFor="let mockedCourseList of mockedCourseList">
    <div class="cart-list" *ngIf="searchText === '' || mockedCourseList.title.toLowerCase().includes(searchText)">
      <app-coursecard
        [buttonText] = "buttonText"
        [iconDelete] = "iconDelete"
        [iconEdit] = "iconEdit"
        [mockedCourseList]="mockedCourseList"
      ></app-coursecard>
   </div>
  </ng-container>
</ng-container>
