<!-- <app-header>
  <ng-container *ngIf="isLoggedIn">
    <div class="username">
      {{ username }}
    </div>
  </ng-container>
  <ng-container *ngIf="isLoggedIn">
    <button class="button">
      {{ logoutText }}
    </button>
  </ng-container>
  <ng-container *ngIf="!isLoggedIn">
    <button class="button">
      {{ loginText }}
    </button>
  </ng-container>
</app-header>


<ng-container *ngIf="!isLoggedIn">
  <app-info
    [title]="infoTitle"
    [text]="infoText"
  >
    <button class="info-button">
      {{ infoButton }}
    </button>
  </app-info>
</ng-container> -->

<app-searchbox (searchTextChange)="onSearchEnter($event)"></app-searchbox>
<ng-container *ngIf="isLoggedIn">
  <ng-container *ngFor="let mockedCourseList of mockedCourseList">
    <div class="cart-list" *ngIf="searchText === '' || mockedCourseList.title.toLowerCase().includes(searchText)">
      <app-coursecard
        [buttonText] = "buttonText"
        [iconDelete] = "iconDelete"
        [iconEdit] = "iconEdit"
        [mockedCourseList]="mockedCourseList"
      ></app-coursecard>
   </div>
  </ng-container>
</ng-container>
