.button {
  /* flex: 1;
  text-align: center;
  border: 1px dotted red; */


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 36px;
  gap: 10px;

  position: absolute;
  left: 88.19%;
  right: 2.08%;
  top: 41.2%;
  bottom: 94.81%;

  border: none;
  background: #007298;
  border-radius: 4px;
  color: #ffffff;
}

.username {
  /* flex: 1;
  text-align: center; */
  /* margin-left: 70%;
  margin-top: 0.5%; */
  position: absolute;
  top: 50%;
  left: 80%;

  width: 85px;
  height: 20px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

  text-align: right;

  color: #333E48;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.info-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 36px;
  gap: 10px;

  margin: auto;
  width: 50%;

  /* primary/blue */

  background: #007298;
  border-radius: 4px;
  color: #ffffff;
}
